.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.constrained-width-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.matrix-wrapper {
  max-height: 550px;
  display: flex;
  flex-wrap: wrap;
}

.matrix-wrapper__row {
  display: flex;
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
}

.axis--x {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}

.axis-cell,
.matrix-cell {
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}

.axis-corner,
.axis--y {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: calc(100% / 14);
}

.axis--y {
  display: flex;
  flex-direction: column;
}

.axis-corner {
  background: hsl(341 100% 75%);
}

.axis-cell {
  background: hsl(341, 100%, 90%);
}

.axis-cell:nth-child(even) {
  background: hsl(341, 100%, 85%);
}

.matrix {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}

.matrix-row {
  display: flex;
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.matrix-row:nth-child(even) .matrix-cell,
.matrix-row .matrix-cell:nth-child(even) {
  background: hsl(0, 0%, 95%);
}

.matrix-row:nth-child(even) .matrix-cell:nth-child(even) {
  background: hsl(0, 0%, 90%);
}

.keyboard {
  display: flex;
}

.keyboard-key {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}
