.empty-matrix-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  height: 100%;
}

.empty-matrix-placeholder__heading-top {
  font-size: 16px;
  max-width: 260px;
  line-height: 26px;
  margin-bottom: 20px;
}

.empty-matrix-placeholder__heading-bottom {
  font-size: 12px;
  line-height: 26px;
}

.matrix-container {
  display: grid;
  grid-template-rows: 1fr 12fr 1fr;
  height: 100%;
}

.matrix-container__row {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
}

.axis {
  display: grid;
}

.axis--x {
  grid-template-columns: repeat(12, 1fr);
}

.axis--y {
  grid-template-rows: repeat(12, 1fr);
}

.axis-cell,
.matrix-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.axis-corner {
  background: hsl(341 100% 75%);
}

.axis-cell {
  background: hsl(341, 100%, 90%);
}

.axis-cell:nth-child(even) {
  background: hsl(341, 100%, 85%);
}

.matrix-rows {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
}

.matrix-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.matrix-row:nth-child(even) .matrix-cell,
.matrix-row .matrix-cell:nth-child(even) {
  background: hsl(0, 0%, 95%);
}

.matrix-row:nth-child(even) .matrix-cell:nth-child(even) {
  background: hsl(0, 0%, 90%);
}
