.matrix-wrapper {
  display: grid;
  grid-template-rows: 1fr 12fr 1fr;
  max-height: 550px;
  margin-top: auto;
  flex-grow: 1;
  flex-basis: 50%;
  flex-shrink: 2;
}

.matrix-wrapper__row {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
}

.axis {
  display: flex;
}

.axis--x {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}

.axis-cell,
.matrix-cell {
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}

.axis--y {
  display: flex;
  flex-direction: column;
}

.axis-corner {
  background: hsl(341 100% 75%);
}

.axis-cell {
  background: hsl(341, 100%, 90%);
}

.axis-cell:nth-child(even) {
  background: hsl(341, 100%, 85%);
}

.matrix {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
}

.matrix-row {
  display: flex;
  flex-basis: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.matrix-row:nth-child(even) .matrix-cell,
.matrix-row .matrix-cell:nth-child(even) {
  background: hsl(0, 0%, 95%);
}

.matrix-row:nth-child(even) .matrix-cell:nth-child(even) {
  background: hsl(0, 0%, 90%);
}
