.tone-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;
}

.tone {
  border-width: 1px;
  height: 26px;
  display: flex;
  flex-basis: 26px;
  flex-shrink: 1;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 12px;
}

.tone:not(:empty) {
  background: #ffd5e3;
  border-style: solid;
  border-color: #eca8be;
}

.tone:empty {
  border-style: dashed;
  border-color: #ccc;
}
